.categoryContainer {
  margin: 2rem 0;
  border-radius: 12px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 75vh;
}

.imageWrapper {
    position: relative;
    width: 60%;
    height: 100% ;
}

.categoryImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.productsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 40%;
  height: 100%;
  justify-content: space-around;
}

.button {
  align-self: start;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}

.moreInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: #f8f8f8;
  position: absolute;
  bottom: 2px;
  left: 10px;
  width: 95%;
}

.more {
  cursor: pointer;
}

.more::after {
  content: " ❯❯";
  font-weight: bold;
  font-size: 0.9rem;
}

@media (max-width: 900px) {
  .contentWrapper {
    flex-direction: column;
    height: auto;
  }

  .imageWrapper, .productsWrapper {
    width: 100%;
    height: auto;
  }

  .productsWrapper {
    justify-content: space-around;
  }

  .more::after {
    font-size: 0.8rem;
  }
  .moreInfo {
    font-size: 0.9rem;
    width: 95%;
  }
  .moreInfo .description {
    width: 80%;
  }
}