.categoryContainer {
  margin: 2rem 0;
  border-radius: 12px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 75vh;
}

.imageWrapper {
    position: relative;
    width: 60%;
    height: 100% ;
}

.categoryImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.productsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 40%;
  height: 100%;
  justify-content: space-around;
}

.description {
  font-size: 1rem;
  color: #f8f8f8;
  position: absolute;
  bottom: 2px;
  left: 10px;
}

.button {
  align-self: start;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}
