.navContainer {
    background-color: #000000;
    align-items: center;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.currency{
    color: #ffffff;
    font-size: 0.8rem;
}

.logo {
    width: 150px;
    height: 50px;
    object-fit: contain;
}

.cart {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

