.navContainer {
    background-color: #000000;
    align-items: center;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.audioIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.logo {
    width: 150px;
    height: 50px;
    object-fit: contain;
}

.cart {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.cartContainer {
    position: relative;
}

.quantity {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: red;
    top:-10px;
    right:-10px;
    border: none;
    color: #fff;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartSummary {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 5;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
}

.audioWrapper {
    position: relative;
}


.audioPopup {
    position: absolute;
    top: 40px;
    left: -20px;
    background: rgb(196, 190, 190);
    padding: 8px 12px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 20;
    animation: fadeIn 0.2s ease-out;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}