.landingHeader {
  position: relative;
  height: 100vh;
}

.introContainer {
  position: relative;
  z-index: 3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 2;
}

@keyframes appear {
  0% {
    opacity: 0;
   }
  100% {
    opacity: 1;
  }
}

.introText {
    opacity: 0;
    margin-top: 70px;
    width: 50%;
    font-size: 1.3rem;
    animation: appear 1.2s ease-out 0.6s forwards;
}

.introText h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.landingImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.mainContent {
  padding: 2% 5%;
}