.cartContainer {
    background-color: #fff;
    margin: 0;
}

.cartSummary {
    padding: 0;
    margin: 0;
}

.cartList {
    width: fit-content;
    padding: 0%;
    padding: 0 1rem;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  border-top: 2px solid #eaeaea;
}

.cartContainer .title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
    text-align: center;
    margin: 0;
    margin-top: 0.5rem;
}

.checkoutButton {
    padding:0.7rem;
    background-color: #e67e22;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}

.emptyMessage {
    text-align: center;
    color: #777;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.disabled {
    filter: brightness(80%);
    cursor: not-allowed;
    opacity: 0.8;
}

a {
    text-decoration: none;
}