.cartItem {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin: 0.8rem 0;
  width: 100%;
  padding: 0.3rem;
  border-top: 2px solid #eaeaea;
}

.itemImage {
  width: 100px;
  height: 100px;
  object-fit: contain;
  flex-shrink: 0;
}

.itemName {
  font-size: 0.7rem;
  font-weight: 600;
  color: #333;
}

.itemPrice {
  font-size: 0.7rem;
  color: black;
  font-weight: 500;
  margin: 0;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.4rem;
}

.itemDetails {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border: 1px solid #ccc;
}

.quantity button {
    border: none;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    background-color: transparent;
}

.itemQuantity {
  font-size: 0.7rem;
  margin: 0;
}


@media (max-width: 600px) {
  .cartItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .itemImage {
    width: 100%;
    height: auto;
    max-height: 200px;
  }
}
