
.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: fit-content;
}

.productImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productName {
  font-weight: bold;
  margin: 0;
}

.productPrice {
  color: #777;
  margin: 0;
}

.addIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}