@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

:root {
  font-family: 'EB Garamond', serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: clamp(0.875rem, 1.5vw, 1.25rem);
  
  --fg: #000000;                
  --muted: #59626e;             
  --border: #e2e8f0;            
  --bg: #ffffff;                
  --error: #b00020;
  --primary: #e67e22;           
  --primary-hover: #b45e13;     
  --ring: rgba(106, 106, 110, 0.15);
  --light-gray: #f3f3f3;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #fff;
}

#root {
  margin: 0;
}

.secondaryText {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 600px) {
    :root {
        font-size: 14px; /* smaller base size for mobile */
    }
}