.featuredProductContainer {
  background-color: #fff;
  padding: 1.5rem;
  max-width: 300px;
  text-align: center;
  transition:  0.6, 'ease Out';
}

.productImage {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.productName {
  font-size: 1.3rem;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 0.5rem;
}

.productPrice {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.productDescription {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.6s ease-in-out;
}

.featuredProductContainer:hover .productDescription {
  opacity: 1;
  transform: translateY(0);
  color: #333;
}

.action {
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  color: #e67e22;
}

.action  span {
  font-size: 0.9rem;
  font-weight: 500;
}

.arrow {
  width: 17px;
  height: 17px;
}