.subNavBar {
    padding: 0.01rem;
    background-color: rgba(0, 0, 0);
    position: absolute;
    z-index: 4;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    opacity: 0.8;
}

.subNavBar .navList {
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}

.subNavBar li {
    list-style: none;
}

.subNavBar a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}