.subNavBar {
    padding: 0.02rem;
    background-color:black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    overflow: hidden;
}

.subNavBar .navList {
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}

.subNavBar li {
    list-style: none;
}

.subNavBar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
}
