.subNavBar {
    background-color: rgba(0, 0, 0);
    position: absolute;
    z-index: 4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    opacity: 0.7;
    padding: 0.5rem 1rem;
    width: -webkit-fill-available;
}

.subNavBar .navList {
    display: flex;
    column-gap: 50px;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.subNavBar li {
    list-style: none;
}

.subNavBar a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
  .subNavBar {
    width: auto;
  }
}
