.subNavBar {
    padding: 0.01rem;
    background-color: rgba(0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100%;
    overflow: hidden;
    animation: show 1.3s ease-in-out forwards;
}

.subNavBar .navList {
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}

.subNavBar li {
    list-style: none;
}

.subNavBar a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

@keyframes show {
    0% {
        opacity: 1;
        height: 100%;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0.8;
        height: 3.5rem;
    }
}